<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.josh.triviagame">

    <uses-permission android:name="android.permission.WR" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.josh.triviagame.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.josh.triviagame.TriviaActivity" />
        <activity android:name="com.example.josh.triviagame.addtermActivity" />
        <activity android:name="com.example.josh.triviagame.ScoreHistoryActivity"></activity>
    </application>

</manifest>